.body-viejo{
  padding-bottom: 40px;
  background-color: #f5fee3;
  
  background-image: url(../img/fondo-body.png);
  background-repeat: repeat;
  background-position: left top;
  overflow-x: hidden;
}

body{
	font-size: 18px;
}
.well-green{
	background: #D35400;
}
.well-blue{
	background: #489cdf;
}
.txt-pr{
	color: rgb(33, 194, 248);
}
.well2 {
    padding-bottom: 69px;
    padding-top: 49px;
}
.well>p, .well>h3 {
	color: #fff;
}
.text-white{
	color: #fff;
}
 h3, h4 , .btn{
	margin-top: 20px;
    margin-bottom: 30px;
}
fieldset>.row>div>a{
	font-size: 18px;	
}
.top-header{
	padding-top: 10%;
}
.top-small{
	padding-top: 5%;	
}
hr {
    border-top: 2px solid #eee !important;
}
.imagenFondo>img{
    position: relative;
    opacity: 0.7;
}
.imagenFondo>span {
width: 100%;
position:absolute;
bottom:85px;
left: 19px;
}
span>h2{
	font-size: 42px;
}
